---
layout: default
title: Projects
tagline: Take a look at what I've been working on.
---

{% assign sorted_projects = site.projects | sort: "date" | reverse %}

<article>
  <section class="entry-content cf" itemprop="articleBody">
    <article>

      <header class="article-header">
        <h2>{{ page.title }}</h2>
        <h1 class="headline">{{ page.tagline }}</h1>
      </header>

      <hr>

      <!-- Research Projects -->
      <h2>Research Projects</h2>
      <div class="row wrap px-2">
        {% for item in sorted_projects %}
          {% if item.category == "Research Projects" %}
            {% include project_card.html %}
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <!-- Personal Projects -->
      <h2>Personal Projects</h2>
      <div class="row wrap px-2">
        {% for item in sorted_projects %}
          {% if item.category == "Personal Projects" %}
            {% include project_card.html %}
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <!-- PhD Research Projects -->
      <h2>PhD Research Projects</h2>
      <div class="row wrap px-2">
        {% for item in sorted_projects %}
          {% if item.category == "PhD Research Projects" %}
            {% include project_card.html %}
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <!-- Art -->
      <h2>Art</h2>
      <div class="row wrap px-2">
        {% for item in sorted_projects %}
          {% if item.category == "Art" %}
            {% include project_card.html %}
          {% endif %}
        {% endfor %}
      </div>

    </article>
  </section>
</article>
