---
layout: default
title: Publications
tagline: Here is what I've been publishing.
---
<article>
  <section class="entry-content cf" itemprop="articleBody">
    <article>

      <header class="article-header">
        <h2>{{ page.title }}</h2>
        <h1 class="headline">{{ page.tagline }}</h1>
        <p class="byline vcard">
        </p>
      </header>
      <hr>
      <section>
      {% assign groups = site.publications | group_by: "category" | sort: "name" %}
          {% for group in groups %}
          <h2>{{ group.name }}</h2>
          <div class="row wrap px-4">
          {% for item in group.items reversed %}
          <h3>
            <a href="{{ item.url }}">
              {{ item.title }}
            </a>
          </h3>
          <h4>{{ item.authors }}, {{ item.venue }}, {{ item.year-published }}</h4>
          {%endfor%}
          </div>
          <hr>
      {%endfor%}
    </section>
    <section>
    <h2>Posters</h2>
    <div class="row wrap px-2">
    {% for poster in site.posters %}
          {% include poster_card.html %}
      {% endfor %}
    </div>
    </section>
    <hr>
  </section>
</article>
