.icon-bg { background-image: url('png/bg.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-down { background-image: url('png/down.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-github_small { background-image: url('png/github_small.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-open { background-image: url('png/open.png'); background-repeat: no-repeat; }

.icon-right { background-image: url('png/right.png'); background-repeat: no-repeat; }

.icon-right_sm { background-image: url('png/right_sm.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-twitterbird { background-image: url('png/twitterbird.png'); background-repeat: no-repeat; }

.icon-two { background-image: url('png/two.png'); background-repeat: no-repeat; }

.icon-up { background-image: url('png/up.png'); background-repeat: no-repeat; }

