<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <div id="content" class="container">
      <div id="inner-content" class="wrap cf">
          <div id="main" role="main">
            {{ content}}
            <div class="push"></div>
            </div>
          </div>
      </div>
      {% include footer.html %}
    </body>
  <script>
  	var nav = responsiveNav(".nav-collapse");
  </script>
</html>
